<article class="card card--row">
	<a href="product-vacancy.html" class="stretched-link"></a>

	<div class="card-header">
		<div class="card-header-picture">
			<picture>
				<source srcset="img/vacancies/image-5.webp" type="image/webp">
				<img loading="lazy" src="img/vacancies/image-5.jpg" class="image" width="88" height="88" alt="Avatar">
			</picture>
		</div>

		<div class="card-header-content">
			<h3 class="card-header-title">
				Магнит

				<div class="blank blank-jobs blank-jobs--on">В&nbsp;работе</div>
			</h3>
			<p class="card-header-subtitle">
				Мерчендайзер • Интервьюер
			</p>

			<div class="card-header-bottom">
				<div class="user user--md">
					<div class="user-picture">
						<picture>
							<source srcset="img/avatar--md.webp" type="image/webp">
							<img loading="lazy" src="img/avatar--md.jpg" class="image" width="28" height="28" alt="Аватар">
						</picture>
					</div>
					<div class="user-content">
						<h4 class="user-name">
							Никита
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>