<article class="card">
	<a href="#" class="stretched-link"></a>

	<div class="card-header">
		<div class="card-header-picture">
			<picture>
				<source srcset="img/vacancies/image-2.webp" type="image/webp">
				<img loading="lazy" src="img/vacancies/image-2.jpg" class="image" width="88" height="88" alt="Avatar">
			</picture>
		</div>

		<div class="card-header-content">
			<h3 class="card-header-title">
				Магнит

				<div class="blank blank-jobs blank-jobs--on">В работе</div>
			</h3>
			<p class="card-header-subtitle">
				Мерчендайзер • Интервьюер
			</p>

			<div class="card-header-bottom">
				<div class="blanks">
					<div class="blank blank-payment">Почасовая оплата</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-footer">
		<a href="#" class="btn btn-lg btn-resume">
			<span class="user">
				<img loading="lazy" src="img/avatar--md.webp" class="image" width="28" height="28" alt="avatar">
				<span class="user-name">Дмитрий</span>
			</span>
			<span class="content content--user">
				<span class="content-toggle">
					<span>Выбран специалист</span>
					<span>В чат</span>
				</span>
			</span>
		</a>
	</div>
</article>