<article class="card card--row card--row-wrap card--readonly">
	<div class="card-header">
		<div class="card-header-picture">
			<picture>
				<source srcset="img/vacancies/image-5.webp" type="image/webp">
				<img loading="lazy" src="img/vacancies/image-5.jpg" class="image" width="88" height="88" alt="Avatar">
			</picture>
		</div>

		<div class="card-header-content">
			<h3 class="card-header-title">
				Магнит
			</h3>
			<p class="card-header-subtitle">
				Мерчендайзер • Интервьюер
			</p>

			<div class="card-header-bottom">
				<div class="blanks">
					<div class="blank blank-employment blank-employment--partly">Частичная занятость</div>
				</div>
			</div>
		</div>
	</div>

	<div class="info-block">
		<div class="info-block-item">
			<div class="info-block-name">от 700</div>
			<div class="info-block-label">Стоимость часа ₽</div>
		</div>
	</div>

	<div class="card-footer">
		<div class="info-block">
			<div class="info-block-item">
				<div class="info-block-name">г. Москва, м. Алтуфьево, ул. Пушкина, д 3</div>
				<div class="info-block-label">Адрес</div>
			</div>
		</div>
	</div>
</article>