<article class="card">
	<a href="#" class="stretched-link"></a>

	<div class="card-header">
		<div class="card-header-picture">
			<picture>
				<source srcset="img/vacancies/image-1.webp" type="image/webp">
				<img loading="lazy" src="img/vacancies/image-1.jpg" class="image" width="88" height="88" alt="Avatar">
			</picture>
		</div>

		<div class="card-header-content">
			<h3 class="card-header-title">
				Магнит

				<div class="blank blank-jobs blank-jobs--search">Поиск</div>
			</h3>
			<p class="card-header-subtitle">
				Мерчендайзер • Интервьюер
			</p>

			<div class="card-header-bottom">
				<div class="blanks">
					<div class="blank blank-payment">Почасовая оплата</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-footer">
		<button type="button" class="btn btn-lg btn-resume"
			data-bs-toggle="modal"
			data-bs-target="#modal_job_responses">
			<span class="content">
				<span class="content-toggle">
					<span>Откликов</span>
					<span>К откликам</span>
				</span>
				<span class="content-current">21</span>
			</span>

			<span class="pictures">
				<img loading="lazy" src="img/avatar--md.webp" class="image" width="28" height="28" alt="avatar">
				<img loading="lazy" src="img/avatar--md.webp" class="image" width="28" height="28" alt="avatar">
				<img loading="lazy" src="img/avatar--md.webp" class="image" width="28" height="28" alt="avatar">
			</span>
		</button>
	</div>
</article>