.badge {
	--_fs: .875rem;
	--_fw: 500;
	--_lh: 1;
	--_color: inherit;
	--_bg: transparent;
	--_rounded: .625rem;
	--_padding: .375rem .625rem;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	color: var(--_color);
	background-color: var(--_bg);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	text-align: center;

	&--sm {
		--_fs: .625rem;
		--_rounded: .5rem;
		--_padding: .1625rem .4375rem;

		min-height: 1rem;

		&.badge--circle {
			--_padding: .1625rem .1625rem;

			min-width: 1rem;
		}
	}

	&--md {
		--_fs: .75rem;
		--_rounded: .5rem;
		--_padding: .25rem .5rem;
	}

	&--circle {
		--_rounded: 1rem;
		--_padding: .375rem .375rem;

		min-width: 1.625rem;
	}

	&--magenta-250 {
		--_color: var(--magenta-color);
		--_bg: var(--magenta-color-200);
	}

	&--gray-125 {
		--_bg: var(--gray-color-125);
	}

	&--error-500 {
		--_color: var(--light-color);
		--_bg: var(--error-color-500);
	}
}