.btn {
	--_width: initial;
	--_height: initial;
	--_fs: var(--fs-base);
	--_fw: 500;
	--_lh: 1;
	--_ls: normal;
	--_color: var(--text-color);
	--_bg: transparent;
	--_border-width: 0;
	--_border-style: solid;
	--_border-color: transparent;
	--_rounded: 0;
	--_padding: 0;
	--_transform: translateZ(0);
	--_transition-duration: var(--transition-duration);
	--_transition-timing-function: var(--transition-timing-function);

	--_color-hover: var(--magenta-color);
	--_bg-hover: transparent;
	--_border-color-hover: transparent;
	--_transform-hover: translateZ(0);

	--_color-active: var(--magenta-color);
	--_bg-active: transparent;
	--_border-color-active: transparent;
	--_transform-active: initial;

	--_color-disabled: var(--magenta-color);
	--_bg-disabled: transparent;
	--_border-color-disabled: transparent;
	--_transform-disabled: initial;

	--_icon-size: 1rem;
	--_icon-color: currentColor;

	width: var(--_width);
	height: var(--_height);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;

	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls);
	color: var(--_color);
	cursor: pointer;
	background-color: var(--_bg);
	border: var(--_border-width) var(--_border-style) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	outline: none;
	transform: var(--_transform);
	transition-property: color, background, border, transform, opacity, visibility;
	transition-duration: var(--_transition-duration);
	transition-timing-function: var(--_transition-timing-function);

	@media (hover: hover) {
		&:is(:hover, :focus-visible) {
			color: var(--_color-hover);
			background-color: var(--_bg-hover);
			border-color: var(--_border-color-hover);
			transform: var(--_transform-hover);
		}
	}

	&:is(:active, .is-active, [aria-expanded="true"]) {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);
		transform: var(--_transform-active);
	}

	&:disabled,
	&[disabled],
	&[inert] {
		color: var(--_color-disabled);
		background-color: var(--_bg-disabled);
		border-color: var(--_border-color-disabled);
		transform: var(--_transform-disabled);

		user-select: none;
		pointer-events: none;
	}

	.icon {
		--_size: var(--_icon-size);
		--_color: var(--_icon-color);
	}
}

.label-check {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	user-select: none;

	> * {
		pointer-events: none;
	}
}

.btn-check {
	position: absolute;
	clip: rect(0, 0, 0, 0);

	+ .btn {
		--_padding: .25rem;
	}

	&:checked {
		+ .btn {
			--_color: var(--primary);
			--_color-hover: var(--primary);
			--_color-active: var(--primary);

			.icon-container {

				> .icon,
				> .image {

					&:first-child {
						opacity: 0;
						visibility: hidden;
					}

					&:last-child {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.label-toggle {
	--_width: 2.5rem;
	--_height: 1.5rem;
	--_size-toggle: 1.25rem;

	display: inline-flex;
	align-items: center;
	gap: .5rem;
	cursor: pointer;
	
	@media (min-width: 991.98px) {
		--_width: 2.75rem;
		--_height: 1.75rem;
		--_size-toggle: 1.5rem;

		gap: .75rem;
	}

	> * {
		pointer-events: none;
		user-select: none;
	}

	&-container {
		flex-shrink: 0;
		position: relative;
	}

	&-slider {
		display: block;
		width: var(--_width);
		height: var(--_height);
		background-color: var(--gray-color-450);
		border-radius: 1.5rem;
		transition-property: background;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);

		&::before {
			content: '';
			display: block;
			width: var(--_size-toggle);
			height: var(--_size-toggle);
			background-color: var(--light-color);
			box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.06), 0 3px 7px 0 rgba(0, 0, 0, 0.15);
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: .125rem;
			transform: translateY(-50%);
			transition-property: left;
			transition-duration: var(--transition-duration);
			transition-timing-function: var(--transition-timing-function);
		}
	}

	&-content {
		font-weight: 500;
		line-height: 1.4;
	}
}

.btn-toggle {
	position: absolute;
	clip: rect(0, 0, 0, 0);

	&:checked {

		+ .label-toggle-slider {
			background-color: var(--magenta-color);

			&::before {
				left: calc(100% - var(--_size-toggle) - .125rem);
			}
		}
	}
}

.btn-group {
	display: flex;
	align-items: center;
	gap: .25rem;
	background-color: var(--gray-color-100);
	border-radius: 2.5rem;
	padding: .25rem;

	.btn {
		--_fs: .875rem;
		--_padding: .5rem 1.25rem;
		--_color: var(--gray-color);
		--_rounded: 2.25rem;

		--_color-hover: var(--primary-color);
		--_bg-hover: var(--light-color);

		--_color-active: var(--primary-color);
		--_bg-active: var(--light-color);

		min-width: 10rem;
	}
}

.btn-group--plaintext {
	gap: 2rem;
	background-color: transparent;
	border-radius: 0;
	padding: 0;

	.btn {
		--_padding: .25rem 0;
		--_bg-hover: transparent;
		--_bg-active: transparent;

		min-width: initial;
	}
}

.btn-menu {
	--_padding: .375rem;

	--_icon-size: 1.25rem;

	margin: calc(var(--_padding) * -1);
}

.btn-close {
	--_icon-size: 1.5rem;
}

.btn-back {
	--_color: var(--magenta-color);
	--_color-hover: var(--magenta-color-500);
	--_color-active: var(--magenta-color-500);

	--_icon-size: 1.5rem;
}

.btn-clear {
	--_color: var(--light-color);
	--_bg: var(--magenta-color);
	--_rounded: 50%;

	--_color-hover: var(--light-color);
	--_bg-hover: var(--magenta-color-500);
	--_color-active: var(--light-color);
	--_bg-active: var(--magenta-color-500);

	&.btn-sm {
		--_width: 1.25rem;
		--_height: 1.25rem;
		--_padding: 0;
		--_icon-size: 1.125rem;

		flex-shrink: 0;
	}

	&.btn-md {
		--_width: 2.5rem;
		--_height: 2.5rem;
		--_bg: var(--magenta-color-200);
		--_padding: 0;
		--_icon-size: 1.125rem;

		--_bg-hover: var(--magenta-color-200);
		--_bg-active: var(--magenta-color-200);

		flex-shrink: 0;
		box-shadow: 0px 2px 4px 0px rgba(17, 12, 8, 0.02);

		.icon {
			background-color: var(--magenta-color);
			border-radius: 50%;
			transition-property: background;
			transition-duration: var(--_transition-duration);
			transition-timing-function: var(--_transition-timing-function);
		}

		@media (hover: hover) {
			&:is(:hover, :focus-visible) {

				.icon {
					background-color: var(--magenta-color-500);
				}
			}
		}
	
		&:is(:active, .is-active) {

			.icon {
				background-color: var(--magenta-color-500);
			}
		}
	}
}

.btn-resume {
	--_color: var(--primary-color);
	--_bg: var(--secondary-color-100);

	--_color-hover: var(--light-color);
	--_bg-hover: var(--primary-color);
	--_color-active: var(--light-color);
	--_bg-active: var(--primary-color);

	justify-content: space-between;

	&.btn-lg {
		--_padding: .75rem 1rem;

		@media (min-width: 991.98px) {
			--_padding: 1rem 1.5rem;
		}
	}

	.content {
		display: flex;
		align-items: center;
		gap: .5rem;

		&--user {
			text-align: end;
		}

		&-toggle {
			font-size: var(--fs-md);
			color: var(--gray-color);

			> * {
				display: inline-flex;
				align-items: center;
				gap: .75rem;
				
				&:last-child {
					display: none;
				}
			}
		}

		&-current {
			font-weight: 600;
			transition-property: color;
			transition-duration: var(--_transition-duration);
			transition-timing-function: ease-out;
		}
	}

	.pictures {
		display: flex;
		align-items: center;

		.image {
			display: block;
			border: 2px solid var(--secondary-color-100);
			border-radius: 50%;
			transition-property: border;
			transition-duration: var(--_transition-duration);
			transition-timing-function: var(--_transition-timing-function);

			&:not(:first-child) {
				margin-left: -.625rem;
			}
		}
	}

	.user {
		display: flex;
		align-items: center;
		gap: .75rem;

		.image {
			border-radius: 50%;
			border: 1px solid var(--secondary-color-100);
			transition-property: border;
			transition-duration: var(--_transition-duration);
			transition-timing-function: var(--_transition-timing-function);
		}
	}

	@media (hover: hover) {
		&:is(:hover, :focus-visible) {
			
			.content {

				&:not(.content--user) {

					.content-toggle {
						color: var(--light-color);
					}
				}

				&-toggle {

					> * {

						&:first-child {
							display: none;
						}

						&:last-child {
							display: inline-flex;
						}
					}
				}

				&-current {
					color: var(--gray-color);
				}
			}

			.pictures,
			.user {

				.image {
					border-color: var(--primary-color);
				}
			}
		}
	}

	&:is(:active, .is-active) {
		.content {

			&:not(.content--user) {

				.content-toggle {
					color: var(--light-color);
				}
			}

			&-toggle {

				> * {

					&:first-child {
						display: none;
					}

					&:last-child {
						display: inline-flex;
					}
				}
			}

			&-current {
				color: var(--gray-color);
			}
		}

		.pictures,
		.user {

			.image {
				border-color: var(--primary-color);
			}
		}
	}
}

.btn-vacancy {
	--_bg: var(--light-color);

	justify-content: space-between;
	box-shadow: 0px .025rem 0px 0px rgba(0, 0, 0, 0.01), 0px .25rem 1.5rem 0px rgba(0, 0, 0, 0.08);

	&.btn-lg {
		--_fs: 1rem;
		--_fw: 600;
		--_padding: .5rem 1rem;

		@media (min-width: 991.98px) {
			--_fs: 1.125rem;
			--_padding: 1rem 1.25rem;
		}
	}

	.content {
		display: flex;
		align-items: center;
		gap: .75rem;

		@media (min-width: 991.98px) {
			gap: 1rem;
		}
	}

	.blank {
		font-weight: var(--_fw);
	}
}

.btn-pin,
.btn-message {
	--_icon-size: 1.5rem;
}

.btn-inherit {
	--_fs: inherit;
	--_fw: inherit;
	--_lh: inherit;
	--_ls: inherit;
	--_color: inherit;

	display: inline;
}

.btn-link {
	--_fw: 600;
	--_color: var(--magenta-color-450);
	--_color-hover: var(--magenta-color);
	--_color-active: var(--magenta-color);
}

.btn-add {
	--_width: 3.75rem;
	--_height: 3.75rem;
	--_color: var(--light-color);
	--_bg: var(--magenta-color);
	--_rounded: 1.25rem;
	
	--_color-hover: var(--light-color);
	--_color-active: var(--light-color);
	--_bg-hover: var(--magenta-color-500);
	--_bg-active: var(--magenta-color-500);

	@media (min-width: 991.98px) {
		--_width: 4.375rem;
		--_height: 4.375rem;
	}
}

.btn-create-field {
	--_color: var(--magenta-color);
	--_bg: var(--magenta-color-150);

	--_icon-size: 1.25rem;

	--_color-hover: var(--magenta-color-500);
	--_color-active: var(--magenta-color-500);
	--_bg-hover: var(--magenta-color-200);
	--_bg-active: var(--magenta-color-200);

	&.btn-md {
		--_padding: .5rem .75rem;

		@media (max-width: 992px) {
			--_height: 2rem;
			--_padding: .25rem .5rem;
		}
	}
}

.btn-remove-field {
	--_fs: var(--fs-sm);
	--_color: var(--magenta-color);

	--_color-hover: var(--magenta-color-500);
	--_color-active: var(--magenta-color-500);
}

.btn-sm {
	--_height: 2rem;
	--_fs: .875rem;
	--_fw: 500;
	--_rounded: .875rem;
	--_padding: .5rem 1rem;
}

.btn-md {
	--_height: 2.5rem;
	--_fs: var(--fs-base);
	--_fw: 500;
	--_rounded: 1rem;
	--_padding: .5rem 1.25rem;

	@media (min-width: 991.98px) {
		--_padding: .5rem 1.5rem;
	}
}

.btn-base {
	--_height: 2.5rem;
	--_fs: var(--fs-base);
	--_fw: 500;
	--_rounded: 1rem;
	--_padding: .75rem 1.5rem;

	@media (min-width: 991.98px) {
		--_height: 3.5rem;
		--_rounded: 1.25rem;
		--_padding: 1rem 2rem;
	}
}

.btn-lg {
	--_height: 3rem;
	--_fs: var(--fs-base);
	--_fw: 500;
	--_rounded: 1rem;
	--_padding: .875rem 1.5rem;

	@media (min-width: 991.98px) {
		--_height: 3.875rem;
		--_rounded: 1.25rem;
		--_padding: 1.25rem 2rem;
	}
}

.btn-primary {
	--_color: var(--light-color);
	--_bg: var(--primary-color);

	--_color-hover: var(--light-color);
	--_bg-hover: var(--magenta-color);

	--_color-active: var(--light-color);
	--_bg-active: var(--magenta-color-500);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-outline-primary {
	--_color: var(--primary-color);
	--_bg: var(--light-color);
	--_border-width: 1px;
	--_border-color: var(--primary-color);

	--_color-hover: var(--magenta-color);
	--_bg-hover: var(--light-color);
	--_border-color-hover: var(--magenta-color);

	--_color-active: var(--magenta-color-500);
	--_bg-active: var(--light-color);
	--_border-color-active: var(--magenta-color-500);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--light-color);
	--_border-color-disabled: var(--gray-color);
}

.btn-secondary {
	--_color: var(--primary-color);
	--_bg: var(--secondary-color);

	--_color-hover: var(--light-color);
	--_bg-hover: var(--magenta-color);

	--_color-active: var(--light-color);
	--_bg-active: var(--magenta-color-500);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-magenta {
	--_color: var(--light-color);
	--_bg: var(--magenta-color);

	--_color-hover: var(--light-color);
	--_bg-hover: var(--magenta-color-500);

	--_color-active: var(--light-color);
	--_bg-active: var(--magenta-color-500);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-magenta-100 {
	--_color: var(--magenta-color);
	--_bg: var(--magenta-color-100);

	--_color-hover: var(--magenta-color);
	--_bg-hover: var(--magenta-color-200);

	--_color-active: var(--magenta-color);
	--_bg-active: var(--magenta-color-200);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-magenta-225 {
	--_color: var(--magenta-color);
	--_bg: var(--magenta-color-225);

	--_color-hover: var(--magenta-color);
	--_bg-hover: var(--magenta-color-200);

	--_color-active: var(--magenta-color);
	--_bg-active: var(--magenta-color-200);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-cold {
	--_color: var(--light-color);
	--_bg: var(--cold-color);

	--_color-hover: var(--light-color);
	--_bg-hover: var(--cold-color-500);

	--_color-active: var(--light-color);
	--_bg-active: var(--cold-color-500);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-cold-100 {
	--_color: var(--cold-color);
	--_bg: var(--cold-color-100);

	--_color-hover: var(--cold-color);
	--_bg-hover: var(--cold-color-200);

	--_color-active: var(--cold-color);
	--_bg-active: var(--cold-color-200);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-cold-225 {
	--_color: var(--cold-color);
	--_bg: var(--cold-color-225);

	--_color-hover: var(--cold-color);
	--_bg-hover: var(--cold-color-200);

	--_color-active: var(--cold-color);
	--_bg-active: var(--cold-color-200);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-error-100 {
	--_color: var(--error-color);
	--_bg: var(--error-color-100);

	--_color-hover: var(--error-color);
	--_bg-hover: var(--error-color-200);

	--_color-active: var(--error-color);
	--_bg-active: var(--error-color-200);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-error-225 {
	--_color: var(--error-color);
	--_bg: var(--error-color-225);

	--_color-hover: var(--error-color);
	--_bg-hover: var(--error-color-200);

	--_color-active: var(--error-color);
	--_bg-active: var(--error-color-200);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-success-100 {
	--_color: var(--success-color);
	--_bg: var(--success-color-100);

	--_color-hover: var(--success-color);
	--_bg-hover: var(--success-color-200);

	--_color-active: var(--success-color);
	--_bg-active: var(--success-color-200);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-success-225 {
	--_color: var(--success-color);
	--_bg: var(--success-color-225);

	--_color-hover: var(--success-color);
	--_bg-hover: var(--success-color-200);

	--_color-active: var(--success-color);
	--_bg-active: var(--success-color-200);

	--_color-disabled: var(--gray-color);
	--_bg-disabled: var(--gray-color-200);
}

.btn-gray-250 {
	--_color: var(--gray-color);
	--_bg: var(--gray-color-250);

	--_color-hover: var(--primary-color);
	--_bg-hover: var(--gray-color-250);

	--_color-active: var(--primary-color);
	--_bg-active: var(--gray-color-250);
}