.card {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	background-color: var(--light-color);
	border-radius: 1.25rem;
	padding: 1rem;
	box-shadow: 0px 0.3px 0px 0px rgba(0, 0, 0, 0.01), 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
	position: relative;

	@media (min-width: 991.98px) {
		gap: 1.5rem;
		border-radius: 1.5rem;
		padding: 1.25rem;
	}

	.label-check,
	.btn {
		position: relative;
		z-index: 1;
	}

	&-header {
		display: flex;
		gap: .75rem;

		@media (min-width: 991.98px) {
			gap: 1rem;
		}

		&-picture {
			flex-shrink: 0;

			.image {
				width: 4.5rem;
				height: 4.5rem;
				display: block;
				border-radius: 1rem;
				
				@media (min-width: 991.98px) {
					width: 5.5rem;
					height: 5.5rem;
					border-radius: 1.25rem;
				}
			}
		}

		&-content {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: .375rem;

			@media (min-width: 991.98px) {
				gap: .5rem;
			}
		}

		&-title {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: .25rem;
			font-family: var(--font-family);
			font-size: var(--fs-lg);
			line-height: 1.3;
			color: var(--dark-color-550);
		}

		&-subtitle {
			font-size: var(--fs-md);
			font-weight: 500;
			color: var(--gray-color);
		}

		&-bottom {
			display: flex;
			flex-direction: column;
			gap: .5rem 1rem;
			margin-top: auto;

			@media (min-width: 767.98px) {
				flex-direction: row;
				align-items: center;
			}
		}

		&-town {
			font-weight: 600;
		}

		.blanks {
			flex: 1;
		}

		.label-check {
			flex-shrink: 0;
			margin: -.25rem -.25rem 0 0;
		}
	}

	&-footer {
		margin-top: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: .25rem;

			@media (min-width: 991.98px) {
				gap: .5rem;
			}

			.card-address {
				max-width: initial;

				-webkit-line-clamp: 1;
			}
		}

		.btn-resume {
			flex: 1;
		}

		&--bg {
			min-height: 3rem;
			background-color: var(--secondary-color-100);
			border-radius: 1.25rem;
			padding: .5rem 1rem;

			@media (min-width: 991.98px) {
				min-height: 3.875rem;
			}
		}
	}

	&-address {
		max-width: 12rem;

		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;

		font-size: var(--fs-md);
		font-weight: 500;
		font-style: normal;
		color: var(--gray-color);
	}

	&-price {
		flex-shrink: 0;
		font-weight: 600;

		&-time {
			font-size: .625rem;
			font-weight: 500;
			color: var(--gray-color);
			
			@media (min-width: 991.98px) {
				font-size: .75rem;
			}
		}
	}

	&-rating {
		display: flex;
		align-items: center;
		gap: .25rem;
		font-size: var(--fs-md);
		font-weight: 600;
		line-height: normal;
		color: var(--dark-color-475);

		&-icon {
			--_size: .625rem;
			--_color: #FFE142;
			
			@media (min-width: 991.98px) {
				--_size: .75rem;
			}
		}

		&-current {
			font-weight: 500;
			color: var(--gray-color-475);
		}
	}

	&-more {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}

	.info-block {

		@media (min-width: 767.98px) {
			max-width: 12.5rem;
		}
	}
}

.card-label {
	cursor: pointer;
	position: relative;

	.stretched-link {
		pointer-events: none;
		user-select: none;
		z-index: -1;
	}

	.btn-check {

		&:checked {

			+ .card {
				border-color: var(--primary-color);
			}
		}
	}

	.card {
		border: 2px solid var(--light-color);
		transition-property: border;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}
}

.card--row {
	
	@media (min-width: 767.98px) {
		flex-direction: row;
		justify-content: space-between;
	}

	.card-header {

		@media (min-width: 991.98px) {
			gap: 1.5rem;
		}

		&-title {
			justify-content: initial;
			gap: 1.25rem;
		}

		.label-check {
			margin: 0 0 0 -.5rem;
		}
	}

	&-wrap {
		flex-wrap: wrap;
	}
}

.card--readonly {
	padding-inline: 0;
	box-shadow: none;
}

.card--lg {

	.card-header {

		&-picture {

			.image {
				width: 5rem;
				height: 5rem;
				border-radius: 1.5rem;

				@media (min-width: 991.98px) {
					width: 8.75rem;
					height: 8.75rem;
					border-radius: 1.75rem;
				}
			}
		}

		&-title {
			font-size: 1.25rem;

			@media (min-width: 991.98px) {
				font-size: 1.5rem;
			}
		}
	}
}

.vacancy {
	width: max-content;
	display: flex;
	gap: .5rem;
	border: 1px solid var(--gray-color-400);
	border-radius: .75rem;
	padding: .5rem;
	
	@media (min-width: 991.98px) {
		gap: .75rem;
		border-radius: .875rem;
		padding: .625rem;
	}

	&-picture {
		width: 2rem;
		height: 2rem;
		flex-shrink: 0;
		
		@media (min-width: 991.98px) {
			width: 2.25rem;
			height: 2.25rem;
		}

		.image {
			width: 100%;
			height: 100%;
			display: block;
			border-radius: .5rem;
			
			@media (min-width: 991.98px) {
				border-radius: .625rem;
			}
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: .25rem;
	}

	&-name {
		font-family: var(--font-family);
		font-size: var(--fs-md);
	}

	&-label {
		font-size: var(--fs-sm);
		color: var(--gray-color);
	}
}