.chat {
	
	&.section {
		margin-bottom: 0;
	}

	.filter-header {
		margin-bottom: 0;
	}

	&-container {
		min-height: 25rem;
		display: flex;
		margin-inline: calc(var(--container-offset) * -1);
		padding-inline: var(--container-offset);
		overflow: hidden;

		transition-property: height;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);

		@media (min-width: 767.98px) {
			display: grid;
			grid-template-columns: minmax(0, 4fr) minmax(0, 8fr);
			overflow: initial;
		}

		&.is-chatting {

			.chat-users,
			.chat-body {
				transform: translateX(-100%);

				@media (min-width: 767.98px) {
					transform: unset;
				}
			}

			.chat-body {
				transform: translateX(calc(-100% + var(--container-offset)));

				@media (min-width: 767.98px) {
					transform: unset;
				}
			}

			.chat-users {
				opacity: 0;
				visibility: hidden;

				@media (min-width: 767.98px) {
					opacity: initial;
					visibility: initial;
				}
			}
		}

		&:not(.is-chatting) {

			.chat-body {
				opacity: 0;
				visibility: hidden;

				@media (min-width: 767.98px) {
					opacity: initial;
					visibility: initial;
				}
			}
		}
	}

	&-users,
	&-body {
		width: 100%;
		flex-shrink: 0;
		flex-basis: 100%;
		
		transition-property: transform, opacity, visibility;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
		
		@media (min-width: 767.98px) {
			width: initial;
			flex-shrink: initial;
			flex-basis: initial;
		}
	}

	&-users,
	&-messages {
		overflow-y: auto;
		overflow-x: hidden;

		@media (min-width: 767.98px) {
			margin-right: .25rem;
		}
	}

	&-users {
		display: flex;
		flex-direction: column;
		gap: .25rem;
		padding: .75rem .5rem .75rem 0;

		@media (min-width: 991.98px) {
			gap: .5rem;
			padding: 1rem .75rem 1rem 0;
		}
	}

	&-user {
		--_bg: var(--light-color);
		--_rounded: 1rem;
		--_padding: .5rem .75rem .5rem .5rem;
		
		--_bg-hover: var(--gray-color-250);
		--_bg-active: var(--gray-color-250);
		
		align-items: stretch;
		justify-content: initial;
		text-align: start;
		gap: .75rem;
		
		@media (min-width: 991.98px) {
			--_padding: .75rem 1rem .75rem .75rem;

			gap: 1rem;
		}

		&:not(.is-active) {

			.chat-user-fix {
				display: none;
			}
		}

		&-picture {
			width: 2.5rem;
			height: 2.5rem;
			flex-shrink: 0;
			
			@media (min-width: 991.98px) {
				width: 3rem;
				height: 3rem;
			}

			.image {
				width: 100%;
				height: 100%;
				display: block;
				border-radius: .75rem;
			}
		}

		&-content {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: .5rem;
			overflow: hidden;
		}

		&-header {
			display: flex;
			align-items: center;
			gap: .375rem;
		}

		&-name,
		&-message {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&-name {
			font-family: var(--font-family);
			font-size: var(--fs-md);
		}

		&-fix {
			--_icon-size: .75rem;
			--_icon-color: #949494;

			display: none;
		}

		&-message {
			font-size: var(--fs-md);
			color: var(--gray-color);
		}

		&-end {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.badge {
				align-self: flex-end;
			}
		}

		&-time {
			font-size: var(--fs-sm);
			font-weight: 500;
			color: var(--gray-color);
		}
	}

	&-body,
	&-content {
		display: flex;
		flex-direction: column;
		margin-right: calc(var(--container-offset) * -1);
		padding-right: var(--container-offset);
		overflow: hidden;
	}

	&-body {
		width: calc(100% + var(--container-offset));
		flex-basis: calc(100% + var(--container-offset));

		@media (min-width: 767.98px) {
			width: initial;
			border-left: 1px solid var(--gray-color-400);
		}
	}

	&-messages,
	&-content {
		flex: 1;
	}

	&-content {

		&:not(.is-visible) {
			display: none;
		}
	}

	&-header,
	&-messages,
	&-footer {

		@media (min-width: 767.98px) {
			padding-inline: 1.25rem;
		}

		@media (min-width: 991.98px) {
			padding-inline: 1.5rem;
		}
	}

	&-header,
	&-messages {
		padding-block: .75rem;
		
		@media (min-width: 991.98px) {
			padding-block: 1rem;
		}
	}

	&-header {
		display: flex;
		flex-direction: column;
		gap: .75rem;
		padding-right: 0;
		position: relative;

		@media (min-width: 991.98px) {
			flex-direction: row;
			align-items: center;
			gap: 1.5rem;
		}

		&-user {
			flex: 1;
			display: flex;
			gap: .75rem;
			padding-right: 2rem;
			overflow: hidden;

			@media (min-width: 991.98px) {
				gap: 1rem;
				padding-right: 0;
			}

			&-picture {
				width: 2.5rem;
				height: 2.5rem;
				flex-shrink: 0;

				@media (min-width: 991.98px) {
					width: 3rem;
					height: 3rem;
				}

				.image {
					width: 100%;
					height: 100%;
					display: block;
					border-radius: .875rem;
				}
			}

			&-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: .5rem;
				overflow: hidden;
			}

			&-header {
				display: flex;
				align-items: center;
				gap: 1rem;
			}

			&-name {
				font-family: var(--font-family);
				font-size: var(--fs-lg);

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&-buttons {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: .5rem;

			.btn {

				&:not(.btn-back) {
					flex: 1;

					@media (min-width: 991.98px) {
						flex: initial;
					}
				}
			}

			.btn-back {

				@media (min-width: 767.98px) {
					display: none;
				}
			}
		}

		&-more {
			position: absolute;
			top: .75rem;
			right: 0;
			z-index: 1;

			@media (min-width: 991.98px) {
				position: static;
				z-index: auto;
			}
		}
	}

	&-messages {
		gap: 1.5rem;
		padding-right: .75rem;

		@media (min-width: 991.98px) {
			gap: 2rem;
		}

		&-empty {
			font-size: var(--fs-lg);
			color: var(--gray-color);
			margin-block: auto;
			align-self: center;
		}

		&,
		&-item {
			display: flex;
			flex-direction: column;
		}

		&-item {
			gap: 1.5rem;

			@media (min-width: 991.98px) {
				gap: 2rem;
			}
		}

		&-day {
			font-size: var(--fs-md);
			font-weight: 500;
			line-height: 1.5;
			color: var(--gray-color);
			text-align: center;
			margin-bottom: -.75rem;

			@media (min-width: 991.98px) {
				margin-bottom: -1rem;
			}
		}
	}

	&-footer {
		display: flex;
		align-items: center;
		gap: .75rem;
		padding-block: .75rem;
		
		@media (min-width: 991.98px) {
			gap: 1.25rem;
			padding-block: 1.5rem;
		}
	}

	&-textarea {
		display: flex;
		flex-wrap: wrap;
		gap: .75rem;
		background-color: var(--secondary-color-100);
		border-radius: .75rem;
		padding: .625rem 1rem;
		cursor: text;
		
		@media (min-width: 991.98px) {
			gap: 1rem;
			border-radius: .875rem;
			padding: .75rem 1.25rem;
		}

		.upload-container {
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&,
		&-container {
			flex: 1;
		}

		&-container {
			display: grid;
			font-size: var(--fs-base);
			font-weight: 500;
			line-height: 1.5;

			.field,
			&::after {
				grid-area: 1 / 1 / 2 / 2;

				max-height: calc(3em * 1.5);
				font: inherit;
				color: inherit;
				overflow-x: hidden;
			}

			.field {
				overflow-y: auto;
			}

			&::after {
				content: attr(data-message) " ";
				margin-right: .25rem;
				white-space: pre-wrap;
				word-break: break-word;
				visibility: hidden;
				overflow: hidden;
			}
		}

		&-buttons {
			display: flex;
			gap: .25rem;
		}
	}
}