.editable {

	&-container {
		max-width: 100%;
		display: inline-flex;
		position: relative;
		overflow: hidden;
	}

	&-input {
		width: 100%;
		min-width: 0;
		flex: 1;
		background-color: transparent;
		margin: 0;
		border: none;
		padding: 0;
		outline: none;

		&::placeholder {
			color: var(--gray-color);
		}
	}
}