.field-group {
	position: relative;
}

.field {
	--_width: 100%;
	--_height: auto;

	--_fs: var(--fs-base);
	--_fw: 500;
	--_lh: 1.4;
	--_ls: var(--ls-base);
	--_color: var(--primary-color);
	--_bg: var(--gray-color-150);
	--_border-width: 2px;
	--_border-solid: solid;
	--_border-color: var(--gray-color);
	--_rounded: 1.25rem;
	--_padding: .9125rem 1.25rem;

	--_color-hover: var(--gray-800);
	--_bg-hover: var(--gray-color-150);
	--_border-color-hover: currentColor;

	--_color-active: var(--gray-800);
	--_bg-active: var(--gray-color-150);
	--_border-color-active: currentColor;

	width: var(--_width);
	min-height: var(--_height);
	display: block;
	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls, normal);
	color: var(--_color);
	background-color: var(--_bg);
	border: var(--_border-width) var(--_border-solid) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	outline: none;
	appearance: none;
	transition-property: color, background, border;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	@media (min-width: 991.98px) {
		--_height: auto;
		--_padding: 1.125rem 1.75rem;
	}

	&::placeholder {
		font: inherit;
		color: var(--gray-color);
	}

	&:focus-visible {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);
	}

	&-has-btn {
		padding-right: 2.625rem;

		@media (min-width: 991.98px) {
			padding-right: 3.125rem;
		}

		&.is-input {

			~ .field-btn {
				opacity: 1;
				visibility: visible;
			}

		}

		&.is-show {

			~ .field-show {

				.icon {

					&:first-child {
						opacity: 0;
						visibility: hidden;
					}

					&:last-child {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.field-btn {
	--_rounded: 1.25rem;
	--_padding: 1rem;
	--_icon-size: 1.25rem;

	--_transform: translateY(-50%);
	--_transform-hover: translateY(-50%);
	--_transform-active: translateY(-50%);

	opacity: 0;
	visibility: hidden;

	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;

	@media (min-width: 991.98px) {
		--_padding: 1.25rem;
		--_icon-size: 1.5rem;
	}
}

.field-clear {
	--_color: var(--gray-color-450);
}

.field-show {
	position: absolute;

	.icon {
		transition-property: opacity, visibility;
		transition-duration: var(--_transition-duration);
		transition-timing-function: var(--_transition-timing-function);

		&:last-child {
			opacity: 0;
			visibility: hidden;
			position: absolute;
		}
	}
}

.field-hint {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	.btn-link {
		--_fs: .875rem;
	}
}

.field--md {
	--_fs: .875rem;
	--_rounded: 1rem;
	--_padding: .59375rem 1rem;

	~ .field-btn {
		--_icon-size: 1.25rem;
		--_padding: .625rem 1rem;
	}
}

.field-group--floating {

	.field {

		&:focus,
		&:not(:placeholder-shown) {
			--_padding: 1.4375rem 1.25rem .5rem;
	
			@media (min-width: 991.98px) {
				--_padding: 1.75rem 1.75rem .625rem;
			}

			+ .field-floating {
				font-size: .75rem;
				top: .625rem;
				transform: translateY(0%);

				@media (min-width: 991.98px) {
					font-size: .875rem;
				}
			}
		}
	}
}

.field-floating {
	line-height: 1;
	color: var(--gray-color);
	white-space: nowrap;
	user-select: none;
	pointer-events: none;
	position: absolute;
	top: 1.1625rem;
	left: 1.375rem;
	transition-property: font-size, transform, top, left;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	@media (min-width: 991.98px) {
		top: 1.4375rem;
		left: 1.875rem;
	}
}

textarea {
	resize: none;
}

.field-toggles {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem 1.5rem;
	margin-top: .25rem;
	
	@media (min-width: 991.98px) {
		gap: .75rem 2.5rem;
	}

	&-title {
		width: 100%;
		font-size: var(--fs-base);
		font-weight: 500;
		line-height: 1.4;
		color: var(--gray-color);
	}
}