.filter-header {
	margin-bottom: 1.75rem;

	&-scrollable {
		margin-inline: calc(var(--container-offset) * -1);
		padding-inline: var(--container-offset);
		overflow-x: auto;
		overflow-y: hidden;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
			display: none;
		}
	}

	&-title {
		display: flex;
		align-items: center;
		gap: .5rem;
		line-height: 1.5;
	}

	&-top-selects,
	&-bottom {
		.filter-header-scrollable {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: -20rem;
			padding-bottom: 20rem;
	
			> *:not(.btn-clear) {
				min-width: 14rem;
				flex: 1;
			}
		}
	}

	&-top {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: .75rem 1rem;
		border-bottom: 1px solid var(--gray-color-400);
		padding-bottom: 1.125rem;

		@media (min-width: 991.98px) {
			flex-direction: row;
			align-items: center;
		}

		.btn-group {

			.btn {
				--_fs: 1.25rem;
				--_fw: 600;

				flex-shrink: 0;

				@media (min-width: 991.98px) {
					--_fs: 1.5rem;
				}
			}
		}

		&-selects {
			display: flex;
			flex-wrap: wrap;
			gap: 0.75rem;

			> *:not(.btn) {
				min-width: 16.25rem;
				flex: 1;

				@media (min-width: 991.98px) {
					min-width: initial;
					flex: initial;
				}
			}

			.accordion-collapse {

				&:not(.show) {
					display: none;
				}

				.accordion-body {
					margin: 0 -1.25rem -20rem;
					padding: 0 1.25rem 20rem;
				}
			}

			.filter-header-scrollable {
				> *:not(.btn-clear) {
					min-width: max-content;
				}
			}
		}
	}

	&-bottom {
		padding-top: 1.125rem;
	}
}

.filter-body {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	
	@media (min-width: 991.98px) {
		gap: 3.5rem;
	}

	&-buttons {
		display: flex;
		flex-direction: column;

		@media (min-width: 991.98px) {
			align-items: center;
		}
	}
}

.filter-content {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 1rem;
	
	@media (min-width: 575.98px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	
	@media (min-width: 991.98px) {
		gap: 1.5rem;
	}

	@media (min-width: 1199.98px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	&-title {
		display: flex;
		align-items: center;
		gap: .5rem;
		grid-column: -1 / 1;
		margin-bottom: .5rem;

		.image {
			width: 1.75rem;
			height: 1.75rem;
			display: block;

			@media (min-width: 991.98px) {
				width: 2rem;
				height: 2rem;
			}
		}
	}
}