.form-check {
	display: inline-flex;
	align-items: center;
	gap: .75rem;
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.75;
	color: var(--gray);
	cursor: pointer;

	transition-property: color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	@media (hover: hover) {

		&:is(:hover, :focus-visible) {
			color: var(--magenta-color);
		}
	}

	&:active {
		color: var(--magenta-color);
	}

	&-input {
		flex-shrink: 0;
		width: 1.25rem;
		height: 1.25rem;
		appearance: none;
		color: inherit;
		background-color: var(--bs-form-check-bg);
		border: 1px solid var(--gray-color-425);
		border-radius: .375rem;
		color-adjust: exact;
		print-color-adjust: exact;
		cursor: pointer;

		// @media (min-width: 991.98px) {
		// 	width: 1.25rem;
		// 	height: 1.25rem;
		// }

		&:checked {
			
			~ .form-check-checkbox-span {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&-checkbox {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&-span {
			content: '';
			display: block;
			background-color: currentColor;
			border-radius: .25rem;
			pointer-events: none;
			user-select: none;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			inset: .25rem;

			transition-property: opacity, visibility;
			transition-duration: var(--transition-duration);
			transition-timing-function: var(--transition-timing-function);
		}
	}
}
