.upload {
	width: 100%;
	position: relative;

	&,
	&-container,
	&-footer {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&-container {

		&:empty {
			display: none;
		}
	}

	&-item {
		gap: 1rem;

		@media (min-width: 991.98px) {
			gap: 1.25rem;
		}

		.form-check-input {

			@media (min-width: 991.98px) {
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		&-content {
			display: flex;
			align-items: center;
			gap: 1rem;
			background-color: var(--gray-color-250);
			border-radius: 1rem;
			padding: .75rem 1.25rem .75rem .75rem;

			@media (min-width: 991.98px) {
				gap: 1.25rem;
				border-radius: 1.25rem;
				padding: 1rem 2.5rem 1rem 1rem;
			}

			&,
			.form-check-label {
				flex: 1;
			}
		}

		&-picture {
			width: 3.25rem;
			height: 3.25rem;
			flex-shrink: 0;

			@media (min-width: 991.98px) {
				width: 3.75rem;
				height: 3.75rem;
			}

			.image {
				width: 100%;
				height: 100%;
				display: block;
				border-radius: .5rem;

				@media (min-width: 991.98px) {
					border-radius: .75rem;
				}
			}
		}

		&--multiple {
			position: relative;

			@media (hover: hover) {
				.btn-remove {
					opacity: 0;
				}

				&:hover {

					.btn-remove {
						opacity: 1;
					}
				}
			}

			.upload-item-picture {

				@media (min-width: 991.98px) {
					width: 4.375rem;
					height: 4.375rem;
				}

				.image {

					@media (min-width: 991.98px) {
						border-radius: 1.25rem;
					}
				}
			}

			.upload-item-content {
				border-radius: 0;
				padding: 0;
			}

			.btn-remove {
				--_color: var(--light-color);
				--_bg: rgba(0, 0, 0, .5);
				--_rounded: .5rem;
				
				--_icon-size: 1.5rem;
				--_color-hover: var(--light-color);
				--_color-active: var(--light-color);
				--_bg-hover: rgba(0, 0, 0, .5);
				--_bg-active: rgba(0, 0, 0, .5);

				position: absolute;
				inset: 0;

				@media (min-width: 991.98px) {
					--_rounded: 1.25rem;
					--_icon-size: 2rem;
				}
			}
		}
	}
}

[data-upload="file"],
[data-upload="selected"] {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}