img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none !important;
}

.is-invisible {
	opacity: 0 !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.text-underline {
	text-decoration-line: underline !important;
	text-decoration-thickness: .0625em;
	text-underline-offset: .125em;
}

.text-magenta-450 {
  color: var(--magenta-color-450) !important;
}

.text-gray {
  color: var(--gray-color) !important;
}

.stretched-link {
  border-radius: inherit;
	position: absolute;
	inset: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

.image-success {
  filter: drop-shadow(0px 0px .75rem var(--success-color-300));
}

.image-error {
  filter: drop-shadow(0px 0px .75rem var(--cold-color));
}

.image-question {
  filter: drop-shadow(0px 0px .75rem var(--magenta-color-400));
}

.image-success-sm {
  filter: drop-shadow(0px 0px .25rem var(--success-color-300));
}

.image-error-sm {
  filter: drop-shadow(0px 0px .25rem var(--cold-color));
}

.image-question-sm {
  filter: drop-shadow(0px 0px .25rem var(--magenta-color-400));
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}