<form class="chat-footer" data-upload-container="multiple">
	<button type="button" class="btn btn-pin"
		data-upload="button">
		<span class="icon">
			<svg>
				<use xlink:href="img/icons/pin.svg#svg-pin"></use>
			</svg>
		</span>
	</button>

	<div class="chat-textarea">
		<div class="upload-container"></div>

		<div class="chat-textarea-container">
			<textarea class="field field--plaintext" name="message" rows="1" placeholder="Сообщение"></textarea>
		</div>

		<div class="chat-textarea-buttons">
			<button type="button" class="btn btn-message">
				<span class="icon">
					<svg>
						<use xlink:href="img/icons/message.svg#svg-message"></use>
					</svg>
				</span>
			</button>
		</div>
	</div>
</form>