<button type="button" class="btn chat-user">
	<div class="chat-user-picture">
		<picture>
			<source srcset="img/avatar--md.webp" type="image/webp">
			<img loading="lazy" src="img/avatar--md.jpg" class="image" width="48" height="48" alt="Аватар">
		</picture>
	</div>
	<div class="chat-user-content">
		<div class="chat-user-header">
			<h3 class="chat-user-name">Олеся Казакова</h3>
			<span class="icon chat-user-fix">
				<svg>
					<use xlink:href="img/icons/fix.svg#svg-fix"></use>
				</svg>
			</span>
		</div>
		<p class="chat-user-message">
			Готов приступать 🔥
		</p>
	</div>
	<div class="chat-user-end">
		<time datetime="" class="chat-user-time">
			13:02
		</time>

		<span class="badge badge--md badge--circle badge--error-500">
			1
		</span>
	</div>
</button>