<div class="chat-user">
	<div class="chat-user-picture">
		<picture>
			<source srcset="img/avatar--md.webp" type="image/webp">
			<img loading="lazy" src="img/avatar--md.jpg" class="image" width="48" height="48" alt="Аватар">
		</picture>
	</div>
	<div class="chat-user-content">
		<div class="chat-user-header">
			<h3 class="chat-user-name">Олеся Казакова</h3>
			<button type="button" class="btn chat-user-fix">
				<span class="icon">
					<svg>
						<use xlink:href="img/icons/fix.svg#svg-fix"></use>
					</svg>
				</span>
			</button>
		</div>
		<p class="chat-user-message">
			Можем составить договор на 3 дня в неделю
		</p>
	</div>
	<div class="chat-user-end">
		<time datetime="" class="chat-user-time">
			13:02
		</time>
	</div>
</div>