<button type="button" class="btn chat-user">
	<div class="chat-user-picture">
		<picture>
			<source srcset="@avatar.webp" type="image/webp">
			<img loading="lazy" src="@avatar.jpg" class="image" width="48" height="48" alt="Аватар">
		</picture>
	</div>
	<div class="chat-user-content">
		<div class="chat-user-header">
			<h3 class="chat-user-name">@name</h3>
			<span class="icon chat-user-fix">
				<svg>
					<use xlink:href="img/icons/fix.svg#svg-fix"></use>
				</svg>
			</span>
		</div>
		<p class="chat-user-message">
			@message
		</p>
	</div>
	<div class="chat-user-end">
		<time datetime="" class="chat-user-time">
			13:02
		</time>
	</div>
</button>