<article class="card">
	<a href="#" class="stretched-link"></a>

	<div class="card-header">
		<div class="card-header-picture">
			<picture>
				<source srcset="img/avatar--md.webp" type="image/webp">
				<img loading="lazy" src="img/avatar--md.jpg" class="image" width="88" height="88" alt="Avatar">
			</picture>
		</div>

		<div class="card-header-content">
			<h3 class="card-header-title">
				Константин, 32

				<label class="label-check">
					<input type="checkbox" class="btn-check" checked>
					<button type="button" class="btn">
						<span class="icon-container">
							<img loading="lazy" src="./img/icons/favorite-default.svg" class="image" width="16" height="16" alt="Favorite">
							<img loading="lazy" src="./img/icons/favorite-active.svg" class="image" width="16" height="16" alt="Favorite">
						</span>
					</button>
				</label>
			</h3>
			<p class="card-header-subtitle">
				Мерчендайзер • Интервьюер
			</p>

			<div class="card-header-bottom">
				<div class="blanks">
					<div class="blank blank-employment blank-employment--partly">Частичная занятость</div>
					<div class="blank blank-employment blank-employment--tasks">Позадачно</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-footer">
		<div class="card-price">
			1500 ₽<span class="card-price-time">/час</span>
		</div>

		<div class="card-chat">
			<a href="#" class="btn btn-sm btn-gray-250">
				В чат
				<span class="badge badge--sm badge--circle badge--error-500">
					1
				</span>
			</a>
		</div>
	</div>
</article>