<div class="notify notify--ai notify--ai-2 notify--ai-info">
	<div class="notify-body">
		<div class="notify-content">
			<div class="notify-content-header">
				<h3>
					ИИ Елизавета
				</h3>

				<time datetime="">14.10.2024</time>
			</div>

			<div class="notify-content-body">
				<div class="notify-content-content">
					<p>
						Проанализировав ваше резюме, я сделал вывод, что вам необходимо пройти обучение «Раскладка товаров ёлочкой»
					</p>
				</div>

				<button type="button" class="btn btn-md btn-cold-100"
					data-bs-toggle="modal" data-bs-target="#modal_issue_1">
					Пройти тест
				</button>
			</div>
		</div>
	</div>
</div>