<div class="modal modal-list fade"
	id="modal_job_responses"
	tabindex="-1"
	aria-labelledby="modal_job_responses_label"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_job_responses_label">
					Отклики на вакансию
				</h5>
				<button type="button" class="btn btn-close"
					data-bs-dismiss="modal" 
					aria-label="Close">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/close.svg#svg-close"></use>
						</svg>
					</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="list-reset modal-body-list">
					<li class="modal-body-list-item">
						@include('card-resume/card-type-4.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-resume/card-type-4.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-resume/card-type-4.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-resume/card-type-4.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-resume/card-type-4.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-resume/card-type-4.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-resume/card-type-4.html')
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-list fade"
	id="modal_choose_job"
	tabindex="-1"
	aria-labelledby="modal_choose_job_label"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_choose_job_label">
					Выберите вакансию
				</h5>
				<button type="button" class="btn btn-close"
					data-bs-dismiss="modal" 
					aria-label="Close">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/close.svg#svg-close"></use>
						</svg>
					</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="list-reset modal-body-list">
					<li class="modal-body-list-item">
						@include('card-vacancy/card-type-label.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-vacancy/card-type-label.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-vacancy/card-type-label.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-vacancy/card-type-label.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-vacancy/card-type-label.html')
					</li>
					<li class="modal-body-list-item">
						@include('card-vacancy/card-type-label.html')
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="submit" class="btn btn-base btn-primary">
						Готово
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal modal-list fade"
	id="modal_write_candidate"
	tabindex="-1"
	aria-labelledby="modal_write_candidate_label"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_write_candidate_label">
					Напишите кандидату первое сообщение
				</h5>
				<button type="button" class="btn btn-close"
					data-bs-dismiss="modal" 
					aria-label="Close">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/close.svg#svg-close"></use>
						</svg>
					</span>
				</button>
			</div>
			<div class="modal-body">
				@include('card-vacancy/card-type-readonly.html')

				<div class="field-group">
					<textarea class="field" name="message" rows="3" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="submit" class="btn btn-base btn-primary">
						Отправить приглашение
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal modal-list fade"
	id="modal_write_client"
	tabindex="-1"
	aria-labelledby="modal_write_client_label"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_write_client_label">
					Напишите заказчику первое сообщение
				</h5>
				<button type="button" class="btn btn-close"
					data-bs-dismiss="modal" 
					aria-label="Close">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/close.svg#svg-close"></use>
						</svg>
					</span>
				</button>
			</div>
			<div class="modal-body">
				@include('card-vacancy/card-type-readonly-2.html')

				<div class="field-group">
					<textarea class="field" name="message" rows="3" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="submit" class="btn btn-base btn-primary">
						Отправить отклик
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal modal-alert fade"
	id="modal_work_finish"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<form class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/question.svg" class="image image-question" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<h3 class="h5">
							Завершить работу досрочно?
						</h3>
						<p class="text-gray">
							Работодателю придёт уведомление
						</p>
					</div>
				</div>

				<div class="field-group">
					<textarea class="field" name="message" rows="3" placeholder="Сообщение"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="button" class="btn btn-base btn-secondary"
						data-bs-dismiss="modal">
						Нет, отменить
					</button>
					<button type="submit" class="btn btn-base btn-primary">
						Да, завершить
					</button>
				</div>
			</div>
		</form>
	</div>
</div>



<div class="modal modal-alert fade"
	id="modal_created_vacancy"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/success.svg" class="image image-success" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<p>
							Вакансия создана
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<a href="#" class="btn btn-base btn-primary"
						data-bs-dismiss="modal">
						К просмотру резюме
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-alert fade"
	id="modal_work_completed"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/success.svg" class="image image-success" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<p>
							Работа над задачей завершена
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<a href="#" class="btn btn-base btn-primary"
						data-bs-dismiss="modal">
						К вакансиям
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-alert fade"
	id="modal_invite_vacancy"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/success.svg" class="image image-success" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<p>
							Приглашение на вакансию отправлено
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="button" class="btn btn-base btn-primary"
						data-bs-dismiss="modal">
						Прекрасно
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-alert fade"
	id="modal_remove_question"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/question.svg" class="image image-question" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<h3 class="h5">
							Удалить фото?
						</h3>
						<p class="text-gray">
							Его можно загрузить заново в любой момент
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="button" class="btn btn-base btn-secondary"
						data-bs-dismiss="modal">
						Нет, отменить
					</button>
					<button type="button" class="btn btn-base btn-primary"
						data-bs-toggle="modal"
						data-bs-target="#modal_remove_success"
						data-bs-dismiss="modal"
						data-upload-remove="button">
						Да, удалить
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-alert fade"
	id="modal_remove_success"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/success.svg" class="image image-success" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<h3 class="h5">
							Фото удалено
						</h3>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="button" class="btn btn-base btn-primary"
						data-bs-dismiss="modal">
						Ок, спасибо
					</button>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal modal-issue fade"
	id="modal_issue_1"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<form class="modal-content">
			<div class="modal-body">
				<div class="issue">
					<div class="issue-header">
						<h3 class="h5 issue-title">
							Вопрос 1/20
						</h3>
						<p class="issue-subtitle">
							Какой товар необходимо выставлять перед входом в магазин?
						</p>
					</div>

					<div class="issue-body">
						<label class="form-check form-radio--default">
							<div class="form-check-checkbox">
								<input type="radio" class="form-check-input" name="issue-1">
								<span class="form-check-checkbox-span"></span>
							</div>
							<span class="form-check-label">
								Фрукты
							</span>
						</label>
						<label class="form-check form-radio--default">
							<div class="form-check-checkbox">
								<input type="radio" class="form-check-input" name="issue-1">
								<span class="form-check-checkbox-span"></span>
							</div>
							<span class="form-check-label">
								Бутафория
							</span>
						</label>
						<label class="form-check form-radio--default">
							<div class="form-check-checkbox">
								<input type="radio" class="form-check-input" name="issue-1">
								<span class="form-check-checkbox-span"></span>
							</div>
							<span class="form-check-label">
								Конфеты
							</span>
						</label>
						<label class="form-check form-radio--default">
							<div class="form-check-checkbox">
								<input type="radio" class="form-check-input" name="issue-1">
								<span class="form-check-checkbox-span"></span>
							</div>
							<span class="form-check-label">
								Хлеб
							</span>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="submit" class="btn btn-base btn-primary"
						data-bs-dismiss="modal"
						disabled>
						Далее
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal modal-issue fade"
	id="modal_issue_2"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<form class="modal-content">
			<div class="modal-body">
				<div class="issue">
					<div class="issue-header">
						<h3 class="h5 issue-title">
							Вопрос 2/20
						</h3>
						<p class="issue-subtitle">
							Какой-нибудь вопрос
						</p>
					</div>

					<div class="issue-body">
						<label class="form-check form-radio--default">
							<div class="form-check-checkbox">
								<input type="radio" class="form-check-input" name="issue-2">
								<span class="form-check-checkbox-span"></span>
							</div>
							<span class="form-check-label">
								Ответ 1
							</span>
						</label>
						<label class="form-check form-radio--default">
							<div class="form-check-checkbox">
								<input type="radio" class="form-check-input" name="issue-2">
								<span class="form-check-checkbox-span"></span>
							</div>
							<span class="form-check-label">
								Ответ 2
							</span>
						</label>
						<label class="form-check form-radio--default">
							<div class="form-check-checkbox">
								<input type="radio" class="form-check-input" name="issue-2">
								<span class="form-check-checkbox-span"></span>
							</div>
							<span class="form-check-label">
								Ответ 3
							</span>
						</label>
						<label class="form-check form-radio--default">
							<div class="form-check-checkbox">
								<input type="radio" class="form-check-input" name="issue-2">
								<span class="form-check-checkbox-span"></span>
							</div>
							<span class="form-check-label">
								Ответ 4
							</span>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="button" class="btn btn-base btn-secondary">
						Назад
					</button>
					<button type="submit" class="btn btn-base btn-primary"
						disabled>
						Далее
					</button>
				</div>
			</div>
		</form>
	</div>
</div>



<div class="modal modal-alert fade"
	id="modal_send_answer"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/question.svg" class="image image-question" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<h3 class="h5">
							Отправить ответы?
						</h3>
						<p class="text-gray">
							Вы ответили на все вопросы
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="button" class="btn btn-base btn-secondary">
						Назад
					</button>
					<button type="button" class="btn btn-base btn-primary">
						Да, отправить
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-alert fade"
	id="modal_response_success"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/success.svg" class="image image-success" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<h3 class="h5">
							Ура, ваши баллы — 18 из 20
						</h3>
						<p class="text-gray">
							Вы успешно прошли тестирование. Так держать!
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="button" class="btn btn-base btn-primary">
						Прекрасно
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-alert fade"
	id="modal_response_error"
	tabindex="-1"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-body-alert">
					<img loading="lazy" src="img/icons/error.svg" class="image image-error" width="60" height="60" alt="Иконка">
					<div class="modal-body-alert-content">
						<h3 class="h5">
							Увы, ваши баллы — 4 из 20
						</h3>
						<p class="text-gray">
							Повторите материал и пройдите тестирование ещё раз
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="modal-footer-buttons">
					<button type="button" class="btn btn-base btn-primary">
						Хорошо
					</button>
				</div>
			</div>
		</div>
	</div>
</div>