<article class="review">
	<div class="review-header">
		<div class="review-info">
			<div class="review-info-picture">
				<picture>
					<source srcset="img/vacancies/image-3.webp" type="image/webp">
					<img loading="lazy" src="img/vacancies/image-3.jpg" class="image" width="48" height="48" alt="Картинка">
				</picture>
			</div>

			<div class="review-info-content">
				<h4 class="review-info-name">Мария Борисова</h4>
				<div class="review-info-company">«Перекрёсток»</div>
			</div>

			<time datetime="" class="review-info-date">
				14.10.2024
			</time>
		</div>
	</div>

	<div class="review-rating">
		<span class="icon is-active">
			<svg>
				<use xlink:href="img/icons/rating.svg#svg-rating"></use>
			</svg>
		</span>
		<span class="icon">
			<svg>
				<use xlink:href="img/icons/rating.svg#svg-rating"></use>
			</svg>
		</span>
		<span class="icon">
			<svg>
				<use xlink:href="img/icons/rating.svg#svg-rating"></use>
			</svg>
		</span>
		<span class="icon">
			<svg>
				<use xlink:href="img/icons/rating.svg#svg-rating"></use>
			</svg>
		</span>
		<span class="icon">
			<svg>
				<use xlink:href="img/icons/rating.svg#svg-rating"></use>
			</svg>
		</span>
	</div>

	<div class="review-body">
		<p>
			Работала с Костей полмесяца, за это время специалист себя показал граммотным и уверенным профессионалом. Рекомендую!
		</p>
	</div>
</article>