// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --font-secondary: "InterTight", sans-serif;
  --content-width: 1300px;
  --container-offset: 1.25rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // sizes
  --fs-base: .875rem;
  --fw-base: 400;
  --lh-base: normal;

  // colors
  --title-color: #000;

  --text-color: #000;

  --primary-color: #000;

  --secondary-color: #F1F1F1;

  --magenta-color: #7D4ACF;
  --magenta-color-100: #F7F3FE;
  --magenta-color-150: #F3ECFF;
  --magenta-color-200: #EDE5FC;
  --magenta-color-250: #DECFFA;
  --magenta-color-400: #C09AFF;
  --magenta-color-450: #9663EB;
  --magenta-color-500: #5E31A8;

  --cold-color: #1E43C4;
  --cold-color-100: #EDF2FC;
  --cold-color-200: #DBE5F9;
  --cold-color-300: #E5EEFF;
  --cold-color-500: #19369D;

  --error-color: #DD2F2F;
  --error-color-100: #FAF0F0;
  --error-color-200: #F3E0E0;

  --success-color: #1A8B4F;
  --success-color-100: #EDF6F1;
  --success-color-200: #DAECE3;
  --success-color-300: #8AF0A1;
  --success-color-400: #32BD60;

  --light-color: #fff;

  --dark-color: #000;
  --dark-color-300: #545454;
  --dark-color-400: #292929;
  --dark-color-500: #0F0F0F;

  --gray-color: #8E8E96;
  --gray-color-100: #F1F1F1;
  --gray-color-150: #fafafa;
  --gray-color-200: #F4F5F7;
  --gray-color-250: #f5f5f5;
  --gray-color-300: #E9EBF0;
  --gray-color-400: #E6E6E6;
  --gray-color-425: #D0D5DD;
  --gray-color-450: #C7C9CD;
  --gray-color-500: #909090;

  // backgrounds
  --body-bg: #fff;

  // radius
  --rounded: 1rem;

  // shadows
  --shadow: 0px 0px .625rem .125rem rgba(0,0,0,0.375);
  --shadow-sm: 0px 0px .625rem .125rem rgba(0,0,0,0.25);

  // transitions
  --transition-duration: 300ms;
  --transition-timing-function: ease-in-out;
}

@media (min-width: 991.98px) {
  :root {
    --fs-base: 1rem;
  }
}